body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  background-color: grey;
  color: white;
  height: 155px;
  padding: 5%;
  margin: 10%;
  justify-content: center;
}

.clean-blog{
  display: flex;
  
  background-color: grey;
  color: white;
  height: 250px;

}

