.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .logo-box .img{
    /* border: 20px solid blue; */
    /* padding: 2px; */
   
    
   


.body{
  background-color: plum;
}


.flick-form-wrapper{
  display:  grid;
  grid-template-columns:column;
  padding: 2%;
  margin: 2%;
  border: 20px solid rgba(122, 23, 122, 0.89);
  background-color:plum;
  border-radius: 5%;
}


.home-form-wrapper{
  display:  grid;
  grid-template-columns:column;
  padding: 2%;
  margin: 2%;
  border: 20px solid purple;
  background-color: black;
  border-radius: 5%;
}
.home-page{
  background-color:gray;
}
.flick-input-box{
border-radius: 5%;
 margin:2%;
 padding:2%;
 background-color: yellow;
 border: 20px solid purple;
justify-content: center;  

}

.author-box{
  border-radius: 5%;
  margin:2%;
  padding:2%;
  background-color: yellow;
  border: 20px solid purple;
 justify-content: center;  
 
 }

 .date-box{
   
  grid-row: "span 1";
  border-radius: 5%;
  margin:2%;
  padding:2%;
  background-color: plum;
  border: 20px solid purple;
 margin-left: 40%;  
 
 }

 /* Card.css */

 .card-wrapper{
   background-color: plum;
   border-radius: 5%;
   border: 20px solid purple;

 }

 #edit-form-wrapper{
  display:  grid;
  grid-template-columns:column;
  padding: 2%;
  margin: 2%;
  border: 20px solid purple;
  background-color: black;
  border-radius: 5%;
   
 }

 .card-banner{
   border: 20px solid black;
   background-color: limegreen;
   border-radius: 5%;


 }

 .album-info{
   font-size: xx-large;
   
   background-color: plum;
   border: 20px solid black;
   border-radius: 5%;
 }

 .gd-song-list{
   font-size: medium;
   background-color: yellow;
   border: 10px solid purple;
   border-radius: 5%;
 }
 